ITS/Retail/DesktopClient/StoreControllerClient/Service References/ITSStoreControllerDesktopService/ITSStoreControllerDesktopService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ITS.Retail.WebClient/ITSStoreControllerDesktopService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/POSCommandsLibrary" />
  <xs:import schemaLocation="http://localhost/ITS.Retail.WebClient/ITSStoreControllerDesktopService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ITS.Retail.Platform.Enumerations" />
  <xs:import schemaLocation="http://localhost/ITS.Retail.WebClient/ITSStoreControllerDesktopService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="SendPOSCommands">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/POSCommandsLibrary" minOccurs="0" name="commands" nillable="true" type="q1:ArrayOfPOSCommandDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPOSCommandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendPOSCommandsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMasterInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMasterInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMasterInfoResult" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ITS.Retail.Platform.Enumerations" minOccurs="0" name="appInstance" type="q2:eApplicationInstance" />
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDbType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDbTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDbTypeResult" type="q3:DBType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowTicks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowTicksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNowTicksResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ITS.Retail.Platform.Enumerations" minOccurs="0" name="GetApplicationStatusResult" type="q4:ApplicationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>