ITS/Retail/DesktopClient/StoreControllerClient/Service References/ITSStoreControllerDesktopService/ITSStoreControllerDesktopService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ITSStoreControllerDesktopService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ITS.Retail.WebClient/ITSStoreControllerDesktopService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ITS.Retail.WebClient/ITSStoreControllerDesktopService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ITS.Retail.WebClient/ITSStoreControllerDesktopService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/POSCommandsLibrary" />
      <xsd:import schemaLocation="http://localhost/ITS.Retail.WebClient/ITSStoreControllerDesktopService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ITS.Retail.Platform.Enumerations" />
      <xsd:import schemaLocation="http://localhost/ITS.Retail.WebClient/ITSStoreControllerDesktopService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IITSStoreControllerDesktopService_SendPOSCommands_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPOSCommands" />
  </wsdl:message>
  <wsdl:message name="IITSStoreControllerDesktopService_SendPOSCommands_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPOSCommandsResponse" />
  </wsdl:message>
  <wsdl:message name="IITSStoreControllerDesktopService_SendMasterInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMasterInfo" />
  </wsdl:message>
  <wsdl:message name="IITSStoreControllerDesktopService_SendMasterInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMasterInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IITSStoreControllerDesktopService_GetDbType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDbType" />
  </wsdl:message>
  <wsdl:message name="IITSStoreControllerDesktopService_GetDbType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDbTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IITSStoreControllerDesktopService_GetNowTicks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNowTicks" />
  </wsdl:message>
  <wsdl:message name="IITSStoreControllerDesktopService_GetNowTicks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNowTicksResponse" />
  </wsdl:message>
  <wsdl:message name="IITSStoreControllerDesktopService_GetApplicationStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationStatus" />
  </wsdl:message>
  <wsdl:message name="IITSStoreControllerDesktopService_GetApplicationStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IITSStoreControllerDesktopService">
    <wsdl:operation name="SendPOSCommands">
      <wsdl:input wsaw:Action="http://tempuri.org/IITSStoreControllerDesktopService/SendPOSCommands" message="tns:IITSStoreControllerDesktopService_SendPOSCommands_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IITSStoreControllerDesktopService/SendPOSCommandsResponse" message="tns:IITSStoreControllerDesktopService_SendPOSCommands_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMasterInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IITSStoreControllerDesktopService/SendMasterInfo" message="tns:IITSStoreControllerDesktopService_SendMasterInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IITSStoreControllerDesktopService/SendMasterInfoResponse" message="tns:IITSStoreControllerDesktopService_SendMasterInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDbType">
      <wsdl:input wsaw:Action="http://tempuri.org/IITSStoreControllerDesktopService/GetDbType" message="tns:IITSStoreControllerDesktopService_GetDbType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IITSStoreControllerDesktopService/GetDbTypeResponse" message="tns:IITSStoreControllerDesktopService_GetDbType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNowTicks">
      <wsdl:input wsaw:Action="http://tempuri.org/IITSStoreControllerDesktopService/GetNowTicks" message="tns:IITSStoreControllerDesktopService_GetNowTicks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IITSStoreControllerDesktopService/GetNowTicksResponse" message="tns:IITSStoreControllerDesktopService_GetNowTicks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IITSStoreControllerDesktopService/GetApplicationStatus" message="tns:IITSStoreControllerDesktopService_GetApplicationStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IITSStoreControllerDesktopService/GetApplicationStatusResponse" message="tns:IITSStoreControllerDesktopService_GetApplicationStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IITSStoreControllerDesktopService" type="tns:IITSStoreControllerDesktopService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendPOSCommands">
      <soap:operation soapAction="http://tempuri.org/IITSStoreControllerDesktopService/SendPOSCommands" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMasterInfo">
      <soap:operation soapAction="http://tempuri.org/IITSStoreControllerDesktopService/SendMasterInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDbType">
      <soap:operation soapAction="http://tempuri.org/IITSStoreControllerDesktopService/GetDbType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNowTicks">
      <soap:operation soapAction="http://tempuri.org/IITSStoreControllerDesktopService/GetNowTicks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatus">
      <soap:operation soapAction="http://tempuri.org/IITSStoreControllerDesktopService/GetApplicationStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ITSStoreControllerDesktopService">
    <wsdl:port name="BasicHttpBinding_IITSStoreControllerDesktopService" binding="tns:BasicHttpBinding_IITSStoreControllerDesktopService">
      <soap:address location="http://localhost/ITS.Retail.WebClient/ITSStoreControllerDesktopService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>