ITS/Retail/Tools/ITS.Retail.Bridge.Client/Web References/BridgeWebService/retailbridgeservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="PostFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileType" type="tns:FileType" />
            <s:element minOccurs="0" maxOccurs="1" name="compressedFileContents" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encoding" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="agendOid" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="createUsersForCustomers" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="createUsersForStores" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="customerUserRoleDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="storeUserRoleDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="locale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ownerTaxCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="multipleCategoryTrees" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="rootCategoryCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="makeZeroPricesUserDefinable" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="sendEmailsForImagesOnlyOnError" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="oneStorePerCustomer" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="FileType">
        <s:restriction base="s:string">
          <s:enumeration value="TEXT" />
          <s:enumeration value="IMAGE" />
        </s:restriction>
      </s:simpleType>
      <s:element name="PostFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="storeCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="versionDateTicks" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrdersResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="latestVersionTicks" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PostFileSoapIn">
    <wsdl:part name="parameters" element="tns:PostFile" />
  </wsdl:message>
  <wsdl:message name="PostFileSoapOut">
    <wsdl:part name="parameters" element="tns:PostFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="GetOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="RetailBridgeServiceSoap">
    <wsdl:operation name="PostFile">
      <wsdl:input message="tns:PostFileSoapIn" />
      <wsdl:output message="tns:PostFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input message="tns:GetOrdersSoapIn" />
      <wsdl:output message="tns:GetOrdersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RetailBridgeServiceSoap" type="tns:RetailBridgeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostFile">
      <soap:operation soapAction="http://tempuri.org/PostFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap:operation soapAction="http://tempuri.org/GetOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RetailBridgeServiceSoap12" type="tns:RetailBridgeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostFile">
      <soap12:operation soapAction="http://tempuri.org/PostFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap12:operation soapAction="http://tempuri.org/GetOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RetailBridgeService">
    <wsdl:port name="RetailBridgeServiceSoap" binding="tns:RetailBridgeServiceSoap">
      <soap:address location="http://localhost/ITS.Retail.WebClient/retailbridgeservice.asmx" />
    </wsdl:port>
    <wsdl:port name="RetailBridgeServiceSoap12" binding="tns:RetailBridgeServiceSoap12">
      <soap12:address location="http://localhost/ITS.Retail.WebClient/retailbridgeservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>